
@{
    ViewData["Title"] = "Show";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Product p = ViewBag.product as Product;
}

<h1>@ViewBag.Zaman</h1>
<h1>@ViewBag.Callback</h1>
<h1>@p.Id</h1>
<h1>@p.Name</h1>
<h1>@p.Price</h1>

